@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Sans&display=swap");
@keyframes moveEyebrow {
  0% {
    transform: translateY(0rem);
  }
  10% {
    transform: translateY(-0.5rem);
  }
  20% {
    transform: translateY(0rem);
  }
  30% {
    transform: translateY(-0.5rem);
  }
  40% {
    transform: translateY(0rem);
  }
}
:root {
  font-size: clamp(12px, 2vw, 36px);
}

body, html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  resize: vertical;
  overflow-x: hidden;
}

main {
  --display: none;
  display: var(--display);
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
main.title-screen {
  display: var(--display);
  grid-template-areas: "title" "icon" "name" "button";
  grid-template-rows: 2fr 10fr 2fr 2fr;
  grid-template-columns: 1fr;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}
main.title-screen > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main.title-screen > section.title {
  grid-area: title;
}
main.title-screen > section.icon {
  grid-area: icon;
}
main.title-screen > section.icon > svg {
  width: 465px;
  height: 527.5px;
}
main.title-screen > section.icon > svg > path.eyebrow {
  position: relative;
  transform: translateY(0);
  animation: moveEyebrow 2s ease-in-out 0s infinite;
}
main.title-screen > section.name {
  grid-area: name;
}
main.title-screen > section.start-game {
  grid-area: button;
}
main.title-screen > section.start-game > button.start-game-button {
  background-color: white;
  color: black;
  border: 2px inset black;
  padding: calc(0.5rem - 2px);
  font-family: "Josefin Sans", sans-serif;
  border-radius: 0.5rem;
  font-size: 1rem;
}
main.title-screen > section.start-game > button.start-game-button:focus {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
}
main.question-window {
  display: var(--display);
  grid-template-areas: "header" "image" "buttons" "score";
  grid-template-rows: 20vh auto minmax(40vh, 70vh) 10vh;
  grid-template-columns: 1fr;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
main.question-window > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main.question-window > section.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.question-window > section.header > * {
  margin: 0.5rem;
}
main.question-window > section.header > div.turn-indicator {
  font-size: 0.5rem;
}
main.question-window > section.image {
  grid-area: image;
  max-height: 30vh;
  resize: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
main.question-window > section.image > img {
  max-height: 30vh;
}
main.question-window > section.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
main.question-window > section.buttons > button.button {
  background-color: white;
  color: black;
  border: 2px inset black;
  padding: calc(0.5rem - 2px);
  font-family: "Josefin Sans", sans-serif;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  margin: 0.5rem;
  max-width: 20vw;
}
main.question-window > section.buttons > button.button.correct-answer {
  background-color: lime;
  color: white;
  border: none;
  padding: calc(0.5rem - 2px);
}
main.question-window > section.buttons > button.button.wrong-answer {
  background-color: red;
  color: white;
  border: none;
  padding: calc(0.5rem - 2px);
}
main.question-window > section.buttons > button.button:focus {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
}
main.question-window > section.score {
  grid-area: score;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
}
main.question-window > section.score > div {
  display: inline;
}
main.question-window > section.score > div > span {
  display: inline;
}
main.final-results {
  display: var(--display);
  grid-template-areas: "icon" "winner" "scores" "reset";
  grid-template-rows: 15fr 7fr 2fr 2fr;
  grid-template-columns: 1fr;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}
main.final-results > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main.final-results > section.icon {
  grid-area: icon;
}
main.final-results > section.icon > svg {
  width: 372px;
  height: 422px;
}
main.final-results > section.winner {
  grid-area: winner;
}
main.final-results > section.scores {
  grid-area: scores;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
main.final-results > section.reset {
  grid-area: reset;
}
main.final-results > section.reset > button.reset-button {
  background-color: white;
  color: black;
  border: 2px inset black;
  padding: calc(0.5rem - 2px);
  font-family: "Josefin Sans", sans-serif;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}
main.final-results > section.reset > button.reset-button:focus {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
